
body {
    max-width: 80%;
    margin: auto;
}

h1, p {
    text-align: center;
}

table {
    border-collapse: collapse;
    margin: auto;
}

td {
    padding: 10px;
    text-align: right;
    border: solid lightgray 1px;
}

#inputbox {
    zoom: 2.0;
}
